<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>github issues</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="styles/vendor.css">

    <link rel="stylesheet" href="styles/main.css">

    <script src="scripts/vendor/modernizr.js"></script>
  </head>
  <body>
    <main>
      <header>
        <h1>Issues</h1>
      </header>
      <section id='issues'>
      </section>
      <footer>
      </footer>
    </main>

    <script id='issueTemplate' type='text/template'>
      <div class="hero-unit">
        <aside><%= number %></aside>
        <ul>
          <li><h2><a href='<%= html_url %>'><%= title %></a></h2></li>
          <% if (body) { %>
            <li><%= body %></li>
          <% } %>
          <li><%= state %></li>
        </ul>
      </div>
    </script>

    <script src="scripts/vendor.js"></script>

        <script src="scripts/main.js"></script>
</body>
</html>
